*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins;
}

body{
height:100vh;
background:linear-gradient(135deg,#f8cada,#f2edff);
}


.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
z-index:2;
position:relative;
}

.card{
background:#fffafc;
width:90%;
max-width:420px;
padding:25px;
border-radius:16px;
text-align:center;
box-shadow:0 12px 30px rgba(0,0,0,.12);
opacity:0;
transform:translateY(120px);
transition:.8s;
}

.card.show
{
    opacity:1;
    transform:translateY(0);
}

.field{
    text-align:left;
    margin-bottom:15px;
}
select,input{
    width:100%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ddd;}

button{
width:100%;
padding:12px;
margin-top:8px;
border:none;
border-radius:25px;
background:linear-gradient(135deg,#fea8cc,#d7b7f7);
cursor:pointer;
}

.recommendation-box{
margin:20px 0;
background:#fdecef;
padding:15px;
border-radius:12px;
}

.loader{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:#a45aa1;
}
h4{
   color:#a45aa1;
    margin:10px 0 10px;
}

#refillInfo{
margin-top:10px;
font-weight:500;
color:#8a4f87;
}

.hide{
    display:none;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}

/* Mobile tweaks */

@media(max-width:600px){
.perfume{display:none;}
}
